// Variable overrides
$primary: #f9216c;
$navbar-color: #ffffff;
$navbar-hover-color: rgba(255, 255, 255, 0.5);

$theme-colors: (
  'primary': $primary,
  'danger': #e5473e,
  'success': #40c985,
  'info': #4986ff
);
